.approve-doc {
  width: 250px;
}

.approve-doc img {
  width: 200px;
  border: 3px solid lightcyan;
  border-radius: 15px;
}
.approve-doc p {
  margin: 6px 0px;
}

.approve-doc:hover {
  transition: 0.6s;
}
